* {
    text-decoration: none;
    margin: 0%;
    list-style-type: none;
}

body {
    font-family: 'Lato', sans-serif;   
    background-color: black;
}

.navigationstyle {
    border-bottom: solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 7%;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.gambar {
    margin-top: 4rem;
    background-image: url('bgg.jpg');
    background-position: center;
    height: 50rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.tulisan {
    font-size: 3.5em;
    color: white;
}

.gambar p {
    color: white;
    font-size: 1rem;
}

.navigationstyle .pp {
    color: white;
    font-size: 1.5rem;
}

.navigationstyle div {
    padding: 1rem 0;
}

.navigationstyle div a {
    padding: 5px;
    color: rgb(255, 255, 255);
}

.navigationstyle a:hover {
    color: rgb(212, 50, 212);
}

.dashboard {
    border: solid black 0.2rem;
    border-radius: 1rem;
    text-align: center;
    margin: 1rem;
    width: 15rem;
    height: 12rem;
    background-image: url('pink.jpeg');
}

.dashboard p {
    padding: 10px 0;
}

.dashboardstyle {
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
}

.dashboard button {
    background-color: green;
    border: 0;
    color: white;
    padding: 0.2rem 0.8rem;
    border-radius: 2px;
    transition: 0.2s;
    margin: 15px 0;
    height: 20px 10px;
    font-size: 1.2rem;
}

.dashboard button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 2px 2px 5px grey;
}

.ppp {
    width: 10rem;
    height: 4rem;
}

.footer {
    margin: 1em;
    /* display: flex;
    justify-content: center; */
}

.footer .p {
    color: gray;
    display: flex;
    justify-content: center;
    padding: 1em;
    border-top: solid white 1px;
}

.footer li {
    color: grey;
    text-decoration: none;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(35, 35, 35);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
  }
  